.outer {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
.about {
    flex: 3;
    justify-content: flex-start;
}
.photo {
    flex: 1;
    margin-top: 125px;
    margin-right: 100px;
}
img {
    border-radius: 200px;
}